.sidebarRow {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  /* flex: 0.2; */
}

.sidebarRow:hover {
  background-color: rgb(213, 208, 208);
  cursor: pointer;
}

.sidebarRow:hover .sidebarRow__icon {
  color: red;
}

.sidebarRow__icon {
  color: grey;
  font-size: large !important;
}

.sidebarRow__tittle {
  flex: 1;
  font-size: 13px;
  margin-left: 20px;
  font-weight: 500;
  color: rgb(53, 50, 50);
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}
